@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
body {
  font-family: "Righteous", cursive;
  margin: 0;
  overflow: scroll;
  background: rgb(0, 0, 0);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.subtitle {
  position: inherit;
  font-size: 3.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: aliceblue;
  text-align: center;
  backdrop-filter: blur(1px);
  border-radius: 8px;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  text-shadow: 0 -8px 30px black, 0 8px 30px black;
}

Nav {
  z-index: 10;
  transform: translate(-50%, -50%);
  top: 5%;
  left: 50%;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bolder;
  background: black;
  margin: 0;
}
.nav-links {
  display: flex;
  position: sticky;
  width: 80%;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  text-align: center;
}

li:hover,
li:focus {
  background: -webkit-linear-gradient(
    90deg,
    rgb(255, 140, 0) 50%,
    rgb(247, 247, 247) 50%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-image {
  z-index: -1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100vw;
  background-image: url(./components/images/home.jpeg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  overflow: hidden;
  filter: brightness(0.8);
}
.home-image.active .about-image {
  z-index: -1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100vw;
  background: url(./components/images/cafe.jpeg);
  background-position: bottom;
  background-size: auto;
  background-repeat: no-repeat;
  overflow: hidden;
  filter: brightness(0.8);
}
.contact-image {
  z-index: -1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100vw;
  background: url(./components/images/contact.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  filter: brightness(0.8);
}
.text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 54%;
  left: 50%;
  display: flex;
  justify-content: center;
  color: white;
  width: 80vw;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0 -8px 30px black, 0 8px 30px black;
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 9px;
}

.kyushu-image {
  z-index: -1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100vw;
  background-image: url(./components/images/japan5.jpeg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.okinawa-image {
  z-index: -1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100%;
  background: url(./components/images/okinawa.jpeg);
  background-position: left;
  background-size: fill;
  background-repeat: no-repeat;
  overflow: hidden;
}

.shikoku-image {
  z-index: -1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100%;
  background: url(./components/images/japan4.jpeg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.logo {
  display: flex;
  position: fixed;
  text-align: center;
  justify-content: space-between;
  text-shadow: 0 0 10px black;
  left: 5%;
  align-items: center;
}
footer {
  box-shadow: 0 0 20px white;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bolder;
  background: rgb(0, 0, 0);
  height: 10vh;
}
